// Register local TTF font for consola
@font-face {
	font-family: 'Consola';
	src: url('/fonts/CONSOLA.ttf') format('truetype');
}

// Register local TTF font for segoe ui (normal, bold, italic, bold italic in different files)
@font-face {
	font-family: 'segoeui';
	font-weight: normal;
	src: url('/fonts/segoeui.ttf') format('truetype');
}

@font-face {
	font-family: 'segoeui';
	font-weight: bold;
	src: url('/fonts/segoeuib.ttf') format('truetype');
}

@font-face {
	font-family: 'segoeui';
	font-style: italic;
	src: url('/fonts/segoeuii.ttf') format('truetype');
}

@font-face {
	font-family: 'segoeui';
	font-weight: bold;
	font-style: italic;
	src: url('/fonts/segoeuiz.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'segoeui', sans-serif;
}

.icon {
	font-family: 'Material Symbols Outlined';
	user-select: none;
}
